<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  
    
       
       <div *ngIf="resetPassword" class="alert alert-success">
          <strong>Password Changed</strong>
       </div>
       <div>
          
            <p></p>
          <form (ngSubmit)="onChangePassword(f)" #f="ngForm">
              <div class="form-group">
                <label>Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control" placeholder="Password" minlength="8" 
                  [(ngModel)]="password" #pwControl="ngModel" 
                  required>
                  <span class="help-block" *ngIf="!pwControl.valid && pwControl.touched">Password is required to be at least 8 characters.</span>
              </div>
              <div class="form-group">
                <label>Confirm password</label>
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  ngModel
                  class="form-control" placeholder="Confirm Password" required passwordMatch>
                  <span class="help-block" *ngIf="!passwordMatch">Password sMismatch.</span>
             
              </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Change Password</button>
          </form>

       </div>
  
    </div>
  </div>
  