<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  
    
        <div  *ngIf="emailFailed" class="alert alert-danger">
            <p>E-Mail address isn't registered! Please check and try again.</p> 
       </div>
       <div *ngIf="emailSent" class="alert alert-success">
          <strong>Check your e-mails for details on how to reset your password.</strong>
       </div>
       <div *ngIf="!emailSent">
          <div class="alert alert-warning">
              Enter the e-mail address you used to register
            </div>
            <p></p>
          <form (ngSubmit)="onForgotPassword(f)" #f="ngForm">
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="text" id="email" name="email" ngModel class="form-control" email required>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Reset Password</button>
          </form>

       </div>
  
    </div>
  </div>
  