<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  
    
        <div  *ngIf="resetFailed" class="alert alert-danger">
            <p>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p> 
       </div>
       <div *ngIf="resetPassword" class="alert alert-success">
          <strong>Your password has been reset. Please <a routerLink="/signin">sign in</a>. </strong>
       </div>
       <div *ngIf="!resetPassword">
          <div class="alert alert-warning">
              Choose a new password.
            </div>
            <p></p>
          <form (ngSubmit)="onResetPassword(f)" #f="ngForm">
              <div class="form-group">
                <input
                  type="password"
                  id="newPassword"
                  name="newPassword"
                  class="form-control" placeholder="New Password" minlength="8" 
                  [(ngModel)]="newPassword" #pwControl="ngModel" 
                  required>
                  <span class="help-block" *ngIf="!pwControl.valid && pwControl.touched">Password is required to be at least 8 characters.</span>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  ngModel
                  class="form-control" placeholder="Confirm Password" required passwordMatch>
                  <span class="help-block" *ngIf="!passwordMatch">Password Mismatch.</span>
             
              </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Reset Password</button>
          </form>

       </div>
  
    </div>
  </div>
  